aside{
    background-color: var(--shape-body);
    .crie{
        font: var(--Heading-Md);
        color: var(--text-heading);
    }

    .title{
        display: flex;
        gap: 1rem;
        img{
          width: 1.5rem;
        }

        p{
            font: var(--Heading-Sm);
            color: var(--text-heading);
        }
    }

    .aside-titulo{
        font: var(--shape-body);
        color: var(--text-heading);
    }

    .inicio-fim{
        font: var(--shape-body);
        color: var(--text-heading);
    }

    .tipo-local{
        font: var(--shape-body);
        color: var(--text-heading);
    }

    .descricao{
        font: var(--shape-body);
        color: var(--text-heading);
    }

    .personalizacao{
        font: var(--shape-body);
        color: var(--text-heading);
    }

    .color-picker {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    }

    .color-picker input[type="radio"] {
    display: none;
    }

    .color-picker label {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    }

    .color-picker input[type="radio"]:checked + label {
    border: 2px solid #00bfff; /* Cor da borda ao selecionar */
    }

    .color-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}